<% provide(:title, "About") %>

<h1><%= yield(:title) %></h1>
<p>
  Click this
  <a href="http://localhost:3000">Homepage</a>
  to way back to home

  <br />

  Or this
  <a href="http://localhost:3000/static_pages/help">Help</a>
  to go to help page
</p>
