<h1>Help</h1>
<p>
  Click this
  <a href="http://localhost:3000">Homepage</a>
  to way back to home

  <br />

  Or this
  <a href="http://localhost:3000/static_pages/home">Static Home</a>
  to go to static home page
</p>
